section
  h4 Defaults
  section
    pre()
      code.
        function hasDefaults(state) {
          state = state || {};
        }
    pre(class="fragment")
      code.
        let initialState = {};
        function hasDefaults(state = initialState) {

        }
