section
    h5 Resources
    div Presentation
    a(href="https://github.com/manufacturedba/q-class") https://gitlab.windows.nagrastar.com/manufacturedba/q-class
    br
    br
    div Promise Specification
    a(href="https://promisesaplus.com/") https://promisesaplus.com/
