section
    h5 Resources
    div Presentation
    a(href="https://github.com/manufacturedba/q-class") https://github.com/manufacturedba/q-class
    br
    br
    div Q Promise Library
    a(href="https://github.com/kriskowal/q") https://github.com/kriskowal/q
    br
    br
    div Promise Specification
    a(href="https://promisesaplus.com/") https://promisesaplus.com/