doctype html
html
    head
        title Q Promises
        meta(charset='utf-8')   
        meta(name='author', content='Roberto Rodriguez')   
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')   
        link(rel='stylesheet', type='text/css', href='/bower_components/reveal.js/css/reveal.css')  
        link(rel='stylesheet', href='/bower_components/reveal.js/lib/css/zenburn.css')  
        link(rel='stylesheet', href='/bower_components/reveal.js/css/theme/blood.css')
    body
        div(class="reveal")
            div(class="slides")
                section
                    section
                        h2 Q Promises           
                section
                    h3 What are they?           
                    div(class="fragment") Promises are a way of deferring computations until it is convenient      
                    div(class="fragment")
                    | Promises are a way of constructing
                    | callbacks in a readable way              
                    div(class="fragment").fragment Promises are throw safe       
                section
                  section
                    h3 What do they look like?
                    pre
                        code(data-trim).
                            var promise = Q.fcall(function () {
                                var result = 'spam';
                                return result;
                            });

                            promise.then(function (result) {
                                console.log(result === 'spam');
                            });

                            true
                section Vertical Slide 2
        script(type='text/javascript', src='/bower_components/reveal.js/lib/js/head.min.js')
        script(type='text/javascript', src='/bower_components/reveal.js/js/reveal.js')
        script(type='text/javascript', src='/bower_components/reveal.js/plugin/highlight/highlight.js')
        script(type='text/javascript', src='/bower_components/reveal.js/plugin/zoom-js/zoom.js')
        script.
            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                multiplex: {
                    // Example values. To generate your own, see the socket.io server instructions.
                    secret: null, // Obtained from the socket.io server. Gives this (the master) control of the presentation
                    id: '755f043462eee7c9', // Obtained from socket.io server
                    url: 'localhost:8000' // Location of socket.io server
                },
                controls: true,
                progress: true,
                history: true,
                center: true,
                transition: 'slide', // none/fade/slide/convex/concave/zoom
                // Optional reveal.js plugins
                dependencies: [
                    {
                        src: '/bower_components/reveal.js/plugin/highlight/highlight.js',
                        async: true,
                        callback: function() {
                            hljs.initHighlightingOnLoad();
                        }
                    },
                    {
                        src: 'socket.io/socket.io.js',
                        async: true
                    },
                    { 
                        src: '/bower_components/reveal.js/plugin/multiplex/client.js', 
                        async: true 
                    },
                    {
                        src: '/bower_components/reveal.js/plugin/notes-server/client.js',
                        async: true
                    }
                ]
            });
