doctype html
html
    head
        title Q Promises
        meta(charset='utf-8')
        meta(name='author', content='Roberto Rodriguez')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
        link(rel='stylesheet', type='text/css', href='/bower_components/reveal.js/css/reveal.css')
        link(rel='stylesheet', href='/bower_components/reveal.js/lib/css/zenburn.css')
        link(rel='stylesheet', href='/bower_components/reveal.js/css/theme/blood.css')
    body
        div(class="reveal")
            div(class="slides")
                section
                    h4 Q Promises
                section
                    div What are they?
                section
                    section
                        div Promises are a way of deferring computations until it is convenient
                        div(class="codeBlock")
                            pre(class="fragment")
                                code.
                                    startWasher().then(function(cleanClothes){
                                        log.info('Done cleaning');
                                    });
                                    
                                    doSomethingElse();
                                    log.info('Done something');
                                    
                                    Done something
                                    Done boxing
                    section
                        div Promises are a way of constructing callbacks in a readable way
                            pre(class="fragment")
                                code.
                                    firstStep()
                                    .then(secondStep)
                                    .then(thirdStep)
                                    .then(function(result) {
                                        log.debug('Result from third step is ' + result);
                                    });
                    section
                        div Promises are throw safe
                            pre(class="fragment")
                                code.
                                    doSomething()
                                    .then(function alwaysFail() {
                                        throw(new Error('I failed'));
                                    })
                                    .then(doSomethingElse)
                                    .fail(function(err) {
                                        log.error(err);
                                    });
                section
                    
        script(type='text/javascript', src='/bower_components/reveal.js/lib/js/head.min.js')
        script(type='text/javascript', src='/bower_components/reveal.js/js/reveal.js')
        script(type='text/javascript', src='/bower_components/reveal.js/plugin/highlight/highlight.js')
        script(type='text/javascript', src='/bower_components/reveal.js/plugin/zoom-js/zoom.js')
        block script
